:root {
    --main-text: #EDEDEF;
    --main-color: #212123;
    --main-red: #EF0F39;
    --main-green: #00ff00;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--main-text);
    text-decoration: none;
    cursor: default;
}

body {
    background: linear-gradient(200deg, var(--main-color), var(--main-color), var(--main-color), var(--main-color), var(--main-color), var(--main-color), var(--main-red)) !important;
    color: var(--main-text) !important;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.koafe-c0aer4211d {
    background: transparent;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    color: var(--main-text);
    padding-top: 30px;
    position: relative;
    width: 100%;
    max-width: 350px;
    text-align: center;
    scale: 1;
    transition: .3s ease-in-out;
}

.koafe-c0aer4211d:hover {
    scale: 1.03;
    transition: .3s ease-in-out;
}

.koafe-c0aer4211d .koafe-ele2rv1etl {
    position: absolute;
    top: 25px;
    left: 25px;
    color: var(--main-text);
    background: var(--dark-gray);
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #000;
    padding: 3px 8px;
    scale: 1;
    transition: .3s ease-in-out;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1) !important;
}

.koafe-c0aer4211d .koafe-ele2rv1etl:hover {
    scale: 1.2;
    transition: .3s ease-in-out;
    border: 1px solid var(--main-red);
    background: var(--main-red);
    cursor: default !important;
}

.koafe-c0aer4211d .koafe-bp1fsd3p {
    border-radius: 50%;
    padding: 4px;
    width: 120px;
    height: 115px;
    scale: 1;
    transition: .3s ease-in-out;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1) !important;
}

.koafe-c0aer4211d .koafe-bp1fsd3p:hover {
    scale: 1.2;
    width: 120px;
    height: 120px;
    transition: .3s ease-in-out;
    border: 1px solid var(--main-red);
}

.koafe-c0aer4211d h2 {
    margin: 10px 0;
}

.koafe-c0aer4211d p {
    font-size: 14px;
    line-height: 1.4;
}

.koafe-b1fadsutatoasns {
    margin: 20px 0;
}

.koafe-b1fadsutatoasns button {
    background: var(--dark-gray);
    border: 1px solid #000;
    color: var(--main-text);
    border-radius: 3px;
    padding: 10px 25px;
    scale: 1;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.koafe-b1fadsutatoasns button:hover {
    transition: .3s ease-in-out;
    scale: 1.1;
    background: var(--main-red);
    border: 1px solid var(--main-red);
}

.butkoafe-b1fadsutatoasnstons .koafe-p3r8ucm5ary {
    background: var(--dark-gray);
    color: var(--main-text);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1) !important;
}

.koafe-8ske1il5ls {
    background: var(--dark-gray);
    text-align: left;
    padding: 20px;
}

.skkoafe-8ske1il5lsills h4 {
    margin: 5px 0;
}

.koafe-8ske1il5ls ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.koafe-8ske1il5ls ul li {
    border: 1px solid #000;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    padding: 8px;
    margin: 0 5px 10px 0;
    scale: 1;
    transition: .3s ease-in-out;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1) !important;
}

.koafe-c0aer4211d .koafe-8ske1il5ls ul li:hover {
    background: var(--main-red);
    color: var(--dark-gray);
    scale: 1.2;
    transition: .3s ease-in-out;
    border: 1px solid var(--main-red);
}

/* Links */

.koafe-el9i1nsks {
    text-align: left;
    padding: 20px;
    background-color: var(--even-darker-gray);
    text-decoration: none;
    color: var(--main-text);
}

.koafe-el9i1nsks h4 {
    margin: 5px 0;
}

.koafe-el9i1nsks ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.koafe-el9i1nsks ul li {
    border: 1px solid #000;
    border-radius: 2px;
    display: inline-block;
    font-size: 14px;
    padding: 8px;
    margin: 0 5px 10px 0;
    color: var(--main-text);
    text-decoration: none;
    scale: 1;
    transition: .3s ease-in-out;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1) !important;
}

.koafe-el9i1nsks ul li:hover:before {
    content: "Koafe";
    background: var(--main-red);
    color: var(--main-text);
    scale: 1.2;
    transition: .3s ease-in-out;
    border: 1px solid var(--main-red);
}

.koafe-el9i1nsks ul li:hover:after {
    content: "Koaf";
    background: var(--main-red);
    color: var(--main-text);
    scale: 1.2;
    transition: .3s ease-in-out;
    border: 1px solid var(--main-red);
}

.koafe-d9ianck span a {
    color: var(--main-text);
}

.koafe-d9ianck span a:hover {
    border-bottom: 1px solid var(--main-red);
    transition: .3s ease-in-out;
    color: var(--main-red);
    cursor: pointer;
}

.koafe-d9ianck div:before {
    content: 'Test'
}

/* Colors */

#main-red {
    color: var(--main-red);
}

#main-green {
    color: var(--main-green);
}

/* Selection */

::selection {
    background: var(--main-red);
    color: var(--main-text);
}
